<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Grpc.Core" version="2.46.6" targetFramework="net48" />
  <package id="Grpc.Core.Api" version="2.46.6" targetFramework="net48" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net48" />
  <package id="Selenium.WebDriver" version="4.14.1" targetFramework="net48" />
  <package id="Selenium.WebDriver.ChromeDriver" version="118.0.5993.7000" targetFramework="net48" />
  <package id="System.Buffers" version="4.4.0" targetFramework="net48" />
  <package id="System.Drawing.Common" version="7.0.0" targetFramework="net48" />
  <package id="System.Memory" version="4.5.3" targetFramework="net48" />
  <package id="System.Numerics.Vectors" version="4.4.0" targetFramework="net48" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.5.2" targetFramework="net48" />
</packages>